/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.navbar{
    position: fixed;
    width: 100%;
}
.nav-heading h1{
    text-align: right;
}
.nav-menu{
flex-direction: row;
justify-content: end;

}
.nav-menu a{
    padding: 5px 10px;
}


 /* hire-me-section-style-start-from- */

  .hire-me-img{
    
    padding: 100px 100px;
  }
  .hire-me-img img{
      text-align: left;
    width: 400px;
    
    
}

.hire-me-dis{
   
    padding: 50px;
    
}

.hire-me-dis a{
    background-color: brown;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: left;
    margin-left: 40px;
}

  /* hire-me-section-style-start-from- */

  /* About-me-section-start-from-her */
  .about-me-image{
margin-top: 120px;
  }
  .about-me-image img{
 height: 270px;
 width: 250px;
  }
.about-me-desc{
    text-align: left;
}

  /* About-me-section-ends-from-her */
  /* services-section--style-start-from-here */
  .services-setion{}
   .services-item{
       box-sizing: border-box;
       padding: 0px;
       
   }
  .services-disc{
      text-align: justify;
      padding: 10px 150px;
  }
  .services-item-card-btn{
    text-align: left;
}
.services-item-card-btn a{
  margin-left: 30px;
}


/* achivement-contact-section-section-style-start-from-here */
.contact button{
  width: 120px;
}
.socal-linka{
 
}
.media-btn{
margin-top: 30px;
  
}
.media-btn button{
  
}
/* achivement-contact-section-section-style-end-from-here */

/* footer-section-style-start-from-here */
.footer-menu a{
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
}
.footer-menu a:hover{
  color: grey;
}
.footer-disc{
  margin-top: 15px;
}
/* footer-section-style-end--here */