*{
box-sizing: border-box;
font-family: 'Fira Sans', sans-serif;
max-width: 100%;
}
body{
    margin: 0;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
[class*="col-"] {
    float: left;
    padding: 10px;
  }
[class*="col-"] {
    width: 100%;
  }
  .dotted-hr{
      border: dotted 6px #fff;
      border-bottom: none;
      width: 70px;
      height: auto;
  }
  /* navbar-style-start-here */
.navbar{
    background-color: #394aac;
    padding: 1% 7%;
    text-align: center;
    
}
.nav-heading h1{
    margin: 0;
    color: #fff;
    padding-top: 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
}
.nav-menu a{
border-radius: 10px;
margin: 7px 0px;
padding:10px;
}
.nav-menu a:hover{
background-color: #2980b9;
}
  /* navbar-style-start-here */
  /* profile-section-style-start-from-here */
  .profife-image{
      height: 500px;
      background: url(./image/banner.jpg) no-repeat center center;
      background-size: cover;
  }
  .profile-dis{
      width: 100%;
     
      
  }
  .profile-dis h2{
      text-align: center;
      padding: 5px 15px;
      color: rgb(113, 112, 114);
  }
  .profile-dis p{
      text-align: center;
      padding: 0px 25px;
      font-family: 'Satisfy', cursive;
      color: rgb(62, 61, 63);
      font-size: 1.2rem;
      
  }
  /* profile-section-style-end-from-here */

  /* hire-me-section-style-start-from- */
  .hire-me-section{
    margin: 0 auto;
  }
  .hire-me-img{
   text-align: center;
  }
  .hire-me-img img{
      
       width: 300px;
       
       height: auto;
       border-top: solid 3px #b93a29;
       border-left: solid 3px #b93a29;
       border-radius: 50%;
}
.hire-me-dis{
   
}
.hire-me-dis h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(63, 63, 62);
}
.hire-me-dis p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
}
.hire-me-dis a{
    text-align: center;
    background-color: brown;
    display: block;
    transition: .5s;
    
}
.hire-me-dis a:hover{
    background-color: rgba(207, 28, 12, 0.938);
    transform: scale(1.1);
    color: rgb(116, 107, 108);
}

  /* hire-me-section-style-end-from- */

  /* About-me-section-start-from-her */
.About-me-section{
    color: rgb(90, 88, 88);
    text-align: center;
}
.About-me-section h2{
    font-size: 2.5rem;
    text-align: center;
    background-color: #ec3b35;
    color: rgb(255, 255, 255);
    padding: 20px 0px 5px 0px;
   

}
.about-me-image{
    text-align: center;
}
.about-me-image img{
    margin: auto;
    border-top: solid 5px rgb(246, 46, 46);
    border-bottom: solid 5px rgb(246, 46, 46);
    border-radius: 50%;
    height: 220px;
    width: 200px;
}
.about-me-desc{}
.about-me-desc p{}
.about-me-desc hr{}
.about-me-desc p a{
    color: rgb(90, 88, 88);
}
.about-me-desc p a button{
    background-color: brown;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    
}

 

  /* About-me-section-end-from-her */

  /* professional-experience-section-style-start-from-here */
  .professional-experience-section{
      padding: 1% 0%;
  }
  .work-exerience{
      text-align: center;
  }
  .card{
      background-color: #a39e9e;
      border-radius: 5px;
      padding: 20px 30px;
      transition: .3s;
      height: 700px;
      overflow: hidden;
  }
  .card-icon{}
  .card-icon img{
      margin-top: 20px;
      padding: 15px;
      border: solid 5px yellow;
      border-radius: 100%;
     width: 100px;
     height: auto;
  }
  .card-title{}
  .card-title h2{
      padding: 5px;
      background-color: #616161;
      color: #fff;
  }
  .card-disc{}
  .card-disc ol{}
  .card-disc ol li{}
  .card:hover{
      box-shadow: 0px 4px 5px 3px black;
  }
  .education, .skill{
      text-align: center;
  }
  .card-skill{
      text-align: left;
     
  }

  .skill-container{
      padding-right: 45px;
  }
  .skill-container li{
      list-style: none;
      font-weight: bolder;
      margin: 30px 10px;
      position: relative;
      text-transform: uppercase;
  }
  .skill-container li::before{
      width: 100%;
      height: 10px;
   content: '';
   background-color: #9132df7c;
   position: absolute;
   top:calc(100% + 5px) ;
   left: 0px;
   border-radius: 1000px;
}
.skill-container li::after{
    width: 0;
    height: 10px;
 content: '';
 background-color: #8c00ff;
 position: absolute;
 top:calc(100% + 5px) ;
 left: 0px;
 border-radius: 1000px;
 animation-duration: 2s;
 animation-delay: 2s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
 animation-timing-function: inherit;
}
.skill-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
width: 95%;
    }
}
.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
width: 85%;
    }
}
.skill-container li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap{
    to{
width: 80%;
    }
}
.skill-container li.javascript::after{
    animation-name: javascript;
}
@keyframes javascript{
    to{
width: 70%;
    }
}
.skill-container li.jqurey::after{
    animation-name: jqurey;
}
@keyframes jqurey{
    to{
width: 60%;
    }
}
.skill-container li.php::after{
    animation-name:php;
}
@keyframes php{
    to{
width: 75%;
    }
}
.skill-container li.laravel::after{
    animation-name: laravel;
}
@keyframes laravel{
    to{
width: 65%;
    }
}
.skill-container li.node::after{
    animation-name: node;
}
@keyframes node{
    to{
width: 65%;
    }
}
.skill-container li.git::after{
    animation-name: git;
}
@keyframes git{
    to{
width: 75%;
    }
}
   /* professional-experience-section-style-end-from-here */
   /* services-section--style-start-from-here */
   .services-setion{}
   .services-disc{
       text-align: justify;
       padding: 10px;
   }
   .services-heading{
       background-color: #EC3B35;
       text-align: center;
     padding-top:10px ;
     padding-bottom: 5px;
   }
   .services-heading h2{
       font-size: 35px;
       color: #fff;
       font-weight: bolder;
   }
   .services-item{
       box-sizing: border-box;
       padding: 20px;
       
   }
   .services-item-1{
       
   }
   .services-item-card{
       padding: 10px 70px;
    box-sizing: border-box;
    height: auto;
    margin-top: 30px;
    
   }
   .services-item-card:hover{
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.308);
   }
   .services-item-card-btn{
       text-align: center;
       padding: 10px;
   }
   .services-item-card-btn a{
       margin-top: 50px;
       background-color: rgb(35, 122, 252);
       padding: 10px ;
       border-radius: 5px;
       transition: .5s;
       text-align: center;
   }
   .services-item-card-btn a:hover{
       color:  rgb(35, 122, 252);
       background-color: #fff;
       border: solid 2px  rgb(35, 122, 252);
   }
   .services-item-card-heading h2{
      
   }
   .services-item-card-img{
    background: url(./image/services-1.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img-1{
    background: url(./image/services2.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img-2{
    background: url(./image/services-3.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img-3{
    background: url(./image/services4.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img-4{
    background: url(./image/services-5.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img-5{
    background: url(./image/services-6.jpg) no-repeat center center;
    background-size: cover;
     height: 300px;
   }
   .services-item-card-img img{
       max-width: 100%;
       text-align: center;
       
   }
   .services-item-card-title {
       text-align: center;
   }
   .services-item-card-title h2{
       text-transform: uppercase;
   }
   .services-item-card-disc{
       margin: 0;
       text-align:justify;
   }
   .services-item-card-disc p{
       padding: 10px;
   }
   /* services-section--style-ends-from-here */ 

   /* achivement-contact-section-section-style-start-from-here */

   .achivement-section{
       padding: 1% 4%;
       background-color: #39a4ac;
   }
   .achivement {
       text-align: center;
       color: #fff;
   }  
   .contact{
       text-align: center;
       padding: 1% 4%;
   }
   .contact h2{
       color: #fff;
   }
   .contact input ,textarea{
       width: 100%;
       font-size: 1rem;
       padding: 10px ;
       text-align: center;
       border: none;
       border-radius: 5px;
       resize: none;

   }
   .contact button{
       border: none;
       border-radius: 12px;
       background-color: #052d2f;
       color: #fff;
       cursor: pointer;
       padding: 15px;
       margin: 10px;
       width: 100px; 
   }
   .socal-link{
       text-align: center;
   }
   .socal-link h2{
    color: #fff;
}
.socal-link p{
    color: #fff;
    text-align: justify;
}
   .media-btn{}
   .media-btn button{
       border: none;
       border-radius: 25px;
       font-size: 32px;
       padding: 5px;
       margin: 10px;
       width: 50px;
       cursor: pointer;
       background-color: #fff;
       transition: .5s;
    } 
    .media-btn button:hover{
        transform: scale(1.1);
    }
    /* achivement-contact-section-section-style-e-from-here */
    /* footer-section-style-start-from-here */
    .footer{
        background-color: #000;
        padding: 20px;
        text-align: center;
        font-size: .8rem;
    }
    .footer-menu a{
        display: block;
       font-size: 1rem;
        margin: 15px 0px;
    }
    .footer-menu a:hover{
        color: grey;
    }
    .footer-disc h5{
        text-align: center;
        color: #fff;
        font-size: .8rem;
        letter-spacing: 5px;
    }